<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property resource="tiger.properties"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %thread %X{username} %-5level %logger - %message%n%ex</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${TIGER_HOME}/stdout.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${TIGER_HOME}/stdout.%d{yyyy-MM-dd}%i.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <maxFileSize>200MB</maxFileSize>
      <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %-20class{0} : %message%n%ex</pattern>
    </encoder>
  </appender>

  <logger name="com.tigerbrokers.openapi.client" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>
